@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@300;400;500;700;900&display=swap');


body {
    width: 100dvw;
    padding: 0px;
    margin: 0px;
}

.topnav {
    width: 100dvw;
    height: auto;
    padding: 0px 20px;
    margin: 0px;
    background-color: #f5f0e5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navlogo {
        font-size: 1rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-weight: 500;
        color: #381c10;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .logo-text {
        font-size: 1rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-weight: 300;
        color: #381c10;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .active {
        font-size: 1rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-weight: 300;
        text-decoration: none;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: #f5f0e5;
        color: #381c10;

        &:hover {
            background-color: #381c10;
            color: #f5f0e5;
            transition: background-color 0.3s ease;
        }
    }

}

.main-content {
    width: 100dvw;
    background: #f5f0e5;
    padding: 20px;

    .main_1 {
        font-size: 1.25rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-weight: 400;
        text-align: center;
        align-content: center;
    }

    .main_2 {
        height: 75%;
        text-align: center;
        align-content: center;
        padding: 30px 0px;
    }

    .main_3 {
        height: 15%;
        text-align: center;
        align-content: center;
    }

    .h1_large {
        font-size: 90px;
        font-family: 'Cormorant Garamond', sans-serif;
        font-weight: 300;
        text-align: center;
        margin: auto auto;
        padding: 0px;
        color: #381c10;
        /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
    }

    .button1 {
        font-size: 1rem;
        font-family: 'Rethink Sans', sans-serif;
        font-weight: 100;
        text-align: center;
        margin: auto auto;
        padding: 5px 20px;
        border-color: #381c10;
        border-width: 1px;
        background-color: #f5f0e5;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #381c10;
            color: #f5f0e5;
            transition: background-color 0.3s ease;
        }
    }
}

.corevalue_area {
    width: 100dvw;
    height: fit-content;
    align-content: center;
    background-color: #381c10;
    color: #f5f0e5;
    padding: 20px;

    .h2_large {
        font-size: 3rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #f5f0e5;
    }

    .core_content {
        display: grid;
        grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
        padding: 20px;
        align-content: center;
        gap: 30px;

        /*         .corebox {
            padding: 5px;
            border-radius: 10px;
            border: 2px solid rgba(255, 255, 255, 0.2);
        } */

        .coredivider {
            border: 1px solid #f5f0e5;
            height: auto;
        }

        h3 {
            font-family: 'Cormorant Garamond', sans-serif;
            font-weight: 200;
            font-size: 1.5rem;
            text-align: start;
            color: #f5f0e5;
        }

        p {
            font-size: .60rem;
            font-family: 'rethink sans', sans-serif;
            text-align: start;
            color: #f5f0e5;
            padding: 2px;
        }
    }


}

.whodat_area {
    width: 100dvw;
    height: auto;
    background-color: #f5f0e5;
    color: #381c10;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    gap: 50px;

    .whodat_left {
        padding: 30px 10px;
        align-items: right;
        justify-items: right;

        /* border: 1px solid #381c10; */

        h3 {
            font-family: 'Cormorant Garamond', sans-serif;
            font-weight: 500;
            font-size: 1.0rem;
            text-align: center;
            color: #381c10;
        }

        p {
            font-size: .60rem;
            font-family: 'rethink sans', sans-serif;
            text-align: center;
            color: #381c10;
            padding: 2px;
        }

        .rounded-circle {
            border: 1px solid #381c10;
        }
    }

    .whodat_right {
        padding: 20px 10px;
        align-items: start;
        align-content: center;

        /* border: 1px solid #381c10; */
        h3 {
            font-family: 'Cormorant Garamond', sans-serif;
            font-weight: 400;
            font-size: 2.0rem;
            text-align: left;
            color: #381c10;
        }

        h2 {
            font-family: 'Cormorant Garamond', sans-serif;
            font-weight: 400;
            font-size: 1.25rem;
            text-align: left;
            color: #381c10;
        }

        p {
            font-size: .70rem;
            font-family: 'rethink sans', sans-serif;
            font-weight: 300;
            text-align: left;
            color: #381c10;
        }

        .rounded-circle {
            border: 1px solid #381c10;
        }
    }

    .h2_large {
        font-size: 1rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-style: normal;
        font-weight: 100;
        text-align: center;
        color: #381c10;
    }

    .whodat_content {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        padding: 20px;
        align-content: center;

        .whodatdivider {
            height: auto;
        }



        h3 {
            font-family: 'Cormorant Garamond', sans-serif;
            font-weight: 200;
            font-size: 1.5rem;
            text-align: center;
            color: #381c10;
        }

        p {
            font-size: .60rem;
            font-family: 'rethink sans', sans-serif;
            text-align: justify;
            color: #381c10;
            padding: 2px;
        }
    }
}

.practice_area {
    width: 100dvw;
    height: fit-content;
    padding: 10px;
    align-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f5f0e5 0%, #f5f0e5 70%, #381c10 70%, #381c10 100%);

    .h3_large {
        font-size: 2rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: #381c10;
    }

    .practice_content {
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        align-self: center;
        gap: 20px;

        .immibox,
        .taxbox {
            margin: auto;
            width: 80%;
            max-width: 400px;
            padding: 50px;
            border: 1px solid #381c10;
            border-radius: 10px;
            align-items: center;
            text-align: center;
            background-color: #f5f0e5;
            margin: auto auto;

            .practice_img {
                width: 180px;
                height: 100px;
                filter: grayscale(100%);
                align-self: center;
                margin: auto auto;
                background-color: red;
            }

            h2 {
                font-family: 'Cormorant Garamond', sans-serif;
                font-weight: 500;
                font-size: 1.5rem;
                text-align: center;
                color: #381c10;
                padding: 20px 0px 0px 0px;
            }

            p {
                font-size: .70rem;
                font-family: 'rethink sans', sans-serif;
                font-weight: 300;
                text-align: justify;
                color: #381c10;
            }
        }


    }

}

.ourClient {
    width: 100dvw;
    height: max(fit-content, 300px);
    padding: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #381c10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .clientbox {
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        align-content: center;

        .h2_large {
            font-size: 3rem;
            font-family: 'Cormorant Garamond', sans-serif;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            color: #f5f0e5;
        }

    }

    .slideshow-container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 5px;

        .client-slide {
            width: 100%;
            margin: auto;

            .client-inner {

                .client-item {
                    width: 100%;
                    height: 300px;
                    padding: 10px;
                    align-content: center;

                    blockquote {
                        width: 80%;
                        height: auto;
                        margin: auto;
                        padding: 10px;
                        font-size: 0.70rem;
                        font-family: 'Rethink Sans', sans-serif;
                        font-weight: 300;
                        font-style: italic;
                        text-align: justify;
                        color: #f5f0e5;
                        padding: 10px;
                    }

                    .name {
                        width: 80%;
                        margin: auto;
                        font-size: 0.75rem;
                        font-family: 'Rethink Sans', sans-serif;
                        font-weight: 500;
                        text-align: left;
                        color: #f5f0e5;
                        padding: 10px;
                    }


                }
            }

        }
    }

}







/* 
@media (max-width: 768px) {
    .core_content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 20px;
        height: auto;
        align-content: center;
        gap: 30px;
    }
} */